<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>co.schof.schof-link</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>04950464-0535-43A3-A797-D128AA64DEAC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6AA97DFE-A089-4A52-A6EB-149A3198D3DB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>6AA04EDB-D583-4F74-8C35-E13B43FDEA60</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>73E4199F-D28E-40CE-AE57-95207B428FD7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2CF7F1E2-AEB0-45F6-8456-4A95EF3E7A12</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB973CDD-C3F4-4C44-9CB9-FF355BBA70E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>908786B9-1332-4473-A40E-7F88A96D0D53</string>
				<key>modifiers</key>
				<integer>131072</integer>
				<key>modifiersubtext</key>
				<string>Generate schof.link URL and copy to clipboard</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6AA97DFE-A089-4A52-A6EB-149A3198D3DB</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C97B2AAF-2778-4F5B-8FEB-3380847DB474</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>73E4199F-D28E-40CE-AE57-95207B428FD7</key>
		<array/>
		<key>908786B9-1332-4473-A40E-7F88A96D0D53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB973CDD-C3F4-4C44-9CB9-FF355BBA70E3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B257DFD-1982-4B7C-849F-F84811EA3CE8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>04950464-0535-43A3-A797-D128AA64DEAC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB973CDD-C3F4-4C44-9CB9-FF355BBA70E3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9B257DFD-1982-4B7C-849F-F84811EA3CE8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>schof-link</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>6AA97DFE-A089-4A52-A6EB-149A3198D3DB</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Schof.link copied</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C97B2AAF-2778-4F5B-8FEB-3380847DB474</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>schof</string>
				<key>subtext</key>
				<string>Generate schof.link URL and open in browser</string>
				<key>text</key>
				<string>Upload clipboard</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>2CF7F1E2-AEB0-45F6-8456-4A95EF3E7A12</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<true/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>DB973CDD-C3F4-4C44-9CB9-FF355BBA70E3</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:copy}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>true</string>
						<key>outputlabel</key>
						<string>copy</string>
						<key>uid</key>
						<string>6AA04EDB-D583-4F74-8C35-E13B43FDEA60</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>open</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>04950464-0535-43A3-A797-D128AA64DEAC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>9B257DFD-1982-4B7C-849F-F84811EA3CE8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>73E4199F-D28E-40CE-AE57-95207B428FD7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>copy</key>
					<string>true</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>908786B9-1332-4473-A40E-7F88A96D0D53</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>04950464-0535-43A3-A797-D128AA64DEAC</key>
		<dict>
			<key>xpos</key>
			<real>675</real>
			<key>ypos</key>
			<real>280</real>
		</dict>
		<key>2CF7F1E2-AEB0-45F6-8456-4A95EF3E7A12</key>
		<dict>
			<key>xpos</key>
			<real>175</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
		<key>6AA97DFE-A089-4A52-A6EB-149A3198D3DB</key>
		<dict>
			<key>xpos</key>
			<real>750</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>73E4199F-D28E-40CE-AE57-95207B428FD7</key>
		<dict>
			<key>xpos</key>
			<real>755</real>
			<key>ypos</key>
			<real>320</real>
		</dict>
		<key>908786B9-1332-4473-A40E-7F88A96D0D53</key>
		<dict>
			<key>xpos</key>
			<real>335</real>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>9B257DFD-1982-4B7C-849F-F84811EA3CE8</key>
		<dict>
			<key>xpos</key>
			<real>615</real>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>C97B2AAF-2778-4F5B-8FEB-3380847DB474</key>
		<dict>
			<key>xpos</key>
			<real>900</real>
			<key>ypos</key>
			<real>200</real>
		</dict>
		<key>DB973CDD-C3F4-4C44-9CB9-FF355BBA70E3</key>
		<dict>
			<key>xpos</key>
			<real>415</real>
			<key>ypos</key>
			<real>260</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
</dict>
</plist>
